.contacto {
    width: 100%;
    padding-bottom: 2rem;
}
.form {
    width: 60%;
    margin: 0 auto;
}
.contacto-titulo {
    color: #fc094e;
    font-size: 3.6rem;
}

form .texto-area {
    height: 15rem;
}
.form-1 {
    width: 80%;
    margin: 0 auto;
}
