<section class="contacto" id="contacto">
    <h1 class="text-center contacto-titulo fw-bold">Cotact Me</h1>
  <div class="form-1">
    <form class="row g-1 form ">
      <div class="col-xl-12">
        <label class="form-label" for="specificSizeInputName">Nombre</label>
        <input type="text" class="form-control" id="specificSizeInputName">
      </div>
      <div class="col-xl-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>

      <div class="col-xl-12">
        <label for="exampleFormControlTextarea1" class="form-label ">Deje su Mensaje</label>
        <textarea class="form-control texto-area" id="exampleFormControlTextarea1"></textarea>
      </div>

      <div class="col-xl-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>

  </section>
