
.header {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(120, 77, 60, 0.605), rgba(0, 0, 0, 0.8)), url(../../../assets/pexels-markus-spiske-225767.jpg) no-repeat center center/cover;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(120, 77, 60, 0.605), rgba(0, 0, 0, 0.8)), url(../../../assets/pexels-markus-spiske-225767.jpg) no-repeat center center/cover; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:40rem;
    max-width: 100%;
    margin: 0;
}
.col-12 {
    padding: 0;
}