<section class="cards" id="cards">

    <h1 class="text-center fw-bold cards-text">Fronted Projects</h1>

    <div class="row justify-content-around">
      <div class="card col-xl-4 col-md-6  col-sm-12 col-xs-12" style="width: 18rem;">
        <img src="./../../../assets/image (1).png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          
          
          <a href="https://gab-myself.netlify.app/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </div>
      </div>

      <div class="card col-xl-4 col-md-6  col-sm-12 col-xs-12" style="width: 18rem;">
        <img src="./../../../assets/image (2).png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          
          
          <a href="https://festival-gab.netlify.app/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </div>
      </div>

      <div class="card col-xl-4 col-md-6  col-sm-12 col-xs-12" style="width: 18rem;">
        <img src="./../../../assets/image (3).png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          
         
          <a href="https://gab-store.netlify.app/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </div>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="card col-xl-4 col-md-6  col-sm-12 col-xs-12" style="width: 18rem;">
        <img src="./../../../assets/image (4).png" class="card-img-top" alt="...">
        <div class="card-body text-center">
         
          
          <a href="https://gab-coffe.netlify.app/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </div>
      </div>

      <div class="card col-xl-4 col-md-6 col-sm-12 imagen-logo" style="width: 18rem;">
      
        
      </div>

      <div class="card col-xl-4 col-md-6  col-sm-12 col-xs-12" style="width: 18rem;">
        <img src="./../../../assets/image.png" class="card-img-top" alt="...">
        <div class="card-body text-center">

          <a href="https://l1too.github.io/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </div>
      </div>
    </div>

  </section>
