<section class="row section">
    <h1 class="title">Skills</h1>
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
        
     <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#fc094e'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'HTML'"
    ></circle-progress>
    </div>
    
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
            
        <circle-progress
          [percent]="80"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#fc094e'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [subtitle]="'CSS'"
        ></circle-progress>

    </div>
    
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
        
     <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#fc094e'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'JavaScript'"
    ></circle-progress>
    </div>
    
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
       
     <circle-progress
      [percent]="60"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#fc094e'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Angular'"
    ></circle-progress>
    </div>
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
        
     <circle-progress
      [percent]="55"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#fc094e'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'MySql'"
    ></circle-progress>
    </div>
    <div class= "barra col-xl-4 col-md-6 col-sm-12">
       
     <circle-progress
      [percent]="60"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#fc094e'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'SASS'"
    ></circle-progress>
    </div>
</section>