.section {
    background: rgb(120,57,91);
    background: linear-gradient(87deg, rgba(120,57,91,1) 0%, rgba(31,2,17,1) 100%);
    padding-bottom: 2rem;
    margin: 0;
    width: 100%;
    min-height: 35rem;
}
.title {
    font-size: 3.6rem;
}
h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.barra {
    text-align: center;
}
