<section class="experience container">
<h1 class="title">Experience</h1>
<div class="row">

    <div class="card col-xl-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pagina de Anime</h5>
          <p class="card-text">Proyecto Front-End de practica.</p>
          <p class="card-text">Leguajes usados: HTML, CSS, JavaScript.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="card col-xl-6" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pagina publicitaria de festival</h5>
          <p class="card-text">Proyecto Front-End de practica.</p>
          <p class="card-text">Heramientas: SASS, GULP, JavaScript.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="card col-xl-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Blog de café</h5>
          <p class="card-text">Proyecto Front-End de practica.</p>
          <p class="card-text">Leguajes usados: HTML, CSS.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="card col-xl-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Portfolio web</h5>
          <p class="card-text">Proyecto Front-End de practica.</p>
          <p class="card-text">Leguajes usados: HTML, CSS.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="card col-xl-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Tienda online</h5>
          <p class="card-text">Proyecto Front-End de practica.</p>
          <p class="card-text">Leguajes usados: HTML, CSS.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="card col-xl-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
          <p class="card-text">APP Web.</p>
          <p class="card-text">Lenguajes y Herramientas: Boostrap, NodeJs, JavaScript.</p>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

</div>
</section>